# top-most EditorConfig file
root = true

# Default settings:
[*]
end_of_line = crlf
charset = utf-8-bom
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# C++ Files
[*.{cpp,h,in}]
curly_bracket_next_line = true
indent_brace_style = Allman