<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Default Rules for MSF code" Description="These rules define the standards rules for all MSF projects." ToolsVersion="15.0">
  <IncludeAll Action="Error" />
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26426" Action="None" />
    <Rule Id="C26429" Action="None" />
    <Rule Id="C26434" Action="None" />
    <Rule Id="C26439" Action="None" />
    <Rule Id="C26440" Action="None" />
    <Rule Id="C26444" Action="None" />
    <Rule Id="C26446" Action="None" />
    <Rule Id="C26447" Action="None" />
    <Rule Id="C26455" Action="None" />
    <Rule Id="C26466" Action="None" />
    <Rule Id="C26472" Action="None" />
    <Rule Id="C26474" Action="None" />
    <Rule Id="C26477" Action="None" />
    <Rule Id="C26481" Action="None" />
    <Rule Id="C26482" Action="None" />
    <Rule Id="C26485" Action="None" />
    <Rule Id="C26486" Action="None" />
    <Rule Id="C26489" Action="None" />
    <Rule Id="C26490" Action="None" />
    <Rule Id="C26491" Action="None" />
    <Rule Id="C26494" Action="None" />
  </Rules>
</RuleSet>